/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #333;
}

p {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    color: #555;
}

form {
    background-color: #fff;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="number"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    
}

input[type="reset"] {
    background-color: #4CAF50;
    margin-left: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    opacity: 0.9;
}

a {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-decoration: none;
}

/*Estilo dos botões de voltar*/
.botoes {
    text-align: center;
    margin-top: 30px;
}

.botao {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #45a049;
}
