/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    padding: 40px;
    line-height: 1.6;
    background-color: #eef6fc;
    padding-top: 20px;
}
.logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 120px;
    height: auto;
}

h1 {
    text-align: center;
    color: #003366;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
}

ul {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    list-style: none;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-left: 8px solid #003366;
}

li {
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #0066cc;
    background-color: #f2f9ff;
    border-radius: 4px;
    transition: background 0.3s ease;
    
}

li:hover {
    background-color: #dcefff;
}

a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
    display: block;
}

a:hover {
    color: #0066cc;
}
